html, body, #root {
  height: 100%;
  overflow: hidden;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer !important;
}

.popup-map-div {
  font-size: 0.9em;
  color: black;
}

.popup-map-div-mobile {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  color: white;
  font-size: 13px;
}

.footer-sp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-back-register {
  margin: 15px 0px !important;
}
.btn-back-register:hover {
  background-color: #878eb7 !important;
}
.btn-submit-register {
  margin-top: 50px !important;
}
.btn-submit-register:hover {
  background-color: #878eb7 !important;
}

.mapboxgl-popup-close-button {
  top: 88% !important;
  right: 2% !important;
  padding: 0 5px 0 0;
  border-radius: 10px 2px 35px 0 !important;
  border-top: 1px !important;
  border-left: 1px !important;
  border-right: none !important;
  border-bottom: none !important;
  height: 29px;
  width: 30px;
  box-shadow: 0 0 3px 0 rgba(102, 97, 102, 0.8) !important;
  font-size: 19px;
  background-color: #1d193e !important;
  color: white !important;
}


.button-black {
  width: 75%;
  margin-left: 10%;
  border-radius: 6px;
  background-color: #1d193e;
  text-transform: uppercase;
  color: white;
  margin-bottom: 7px;
  padding: 7px;
  font-family: system-ui;
  font-size: 13px;
  border: solid 1px #333;
}

.button-black-mobile {
  width: 80%;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: transparent;
  border-color: white;
  padding: 6px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border: solid 1px;
}

.icon-fa {
  font-size: 18px;
  color: #2b2ba9;
  display: flex !important;
  justify-content: center;
}

.head-list {
  text-align: left;
  list-style-type: none;
  padding-left: 33px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.head-list > li > p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.body-list {
  text-align: left;
  padding-left: 5px;
  list-style-type: none;
}

.popup-map-header {
  font-size: 0.8rem;
}

.popup-map-header > p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.vehicule-type {
  font-size: 25px;
  color: #716a77;
  left: 78%;
  position: absolute;
  top: 47%;
}

.popup-map-div > a {
  text-decoration: none;
  color: black;
  background-color: white !important;
}

.mapboxgl-popup {
  min-width: 280px !important;
  max-width: 295px !important;
  max-height: 260px !important;
  top: 0px !important;
  z-index: 2000 !important;
}

.mapboxgl-popup-content {
  background-color: white !important;
  border-radius: 35px !important;
  padding: 0 12px !important;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
  -moz-box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
  box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
}

.devicesearch-pclass {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
  -moz-box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
  box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
}

.MuiButton-containedPrimary {
  background-image: linear-gradient(25deg, #77F9D3 0%, #5CD2F8 50%, #5A79FF 100%);
}

.MuiFab-primary {
  background-image: linear-gradient(25deg, #77F9D3 0%, #5CD2F8 50%, #5A79FF 100%);
}

.status-online {
  color: #68f368;
}

.status-offline {
  color: red;
}

.status-unknown {
  color: orange;
}

.status-inactive {
  color: grey;
  margin: 0;
}

.status-inactive-mobile {
  color: white;
  margin: 0 !important;
}

.display-flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.btn {
  border-radius: 8px;
  background-color: blue;
  padding: 8px;
}

.mapboxgl-popup-tip {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  right: 0;
  bottom: 25px;
}

.mapboxgl-canvas  {
  width: 100% !important;
  height: 100% !important;
}

.display-none {
  display: none;
}

.device-list {
  overflow-y: scroll;
  height: 300px;
}
.device-list::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.device-icon-online {
  padding-right: 12px;
  animation: pulse-circle 1.5s infinite;
}

.device-icon-offline {
  padding-right: 12px;
  animation: pulse-circle 8s infinite;
}

.device-icon-unknown {
  padding-right: 12px;
  animation: pulse-circle 3s infinite;
}

#Menu-actions {
  transform: translateY(-280px);
  padding-bottom: 0px;
}

.MuiSpeedDialAction-staticTooltipLabel {
  background-color: unset !important;
  box-shadow: none !important;
  font-size: 12px !important;
}

@media only screen and (max-width: 960px) {

  .mapboxgl-popup {
    max-width: 100% !important;
    display: contents !important;
  }

  .mapboxgl-popup-content {
    display: flex !important;
    top: 48% !important;
    z-index: 2 !important;
    background-image: linear-gradient(25deg, #77F9D3 0%, #5CD2F8 50%, #5A79FF 100%) !important;
  }

  .MuiSpeedDial-root {
    z-index: 1 !important;
  }

  th tr td {
    padding: 0;
    margin: 0;
  }

  .icon-fa {
    color: white;
  }

  #Menu-actions {
    transform: rotate(270deg) translateX(-110px) translateY(-4px);
    padding-bottom: 0px;
  }

  #Menu-action-0 {
    transform: rotate(90deg) translate(-84px, 94px);
  }
  #Menu-action-0-label {
    transform: translate(-26px, 0px);
    font-weight: bold;
  }

  #Menu-action-1 {
    transform: rotate(90deg) translate(-46px, 54px);
  }

  #Menu-action-1-label {
    transform: translate(-26px, 0px);
    font-weight: bold;
  }

  #Menu-action-2 {
    transform: rotate(90deg) translate(-22px, 20px);
  }

  #Menu-action-2-label {
    transform: translate(-26px, 0px);
    font-weight: bold;
  }

  #Menu-action-3 {
    transform: rotate(90deg) translate(-6px, -4px);
  }

  #Menu-action-3-label {
    transform: translate(-10px, -20px);
    font-weight: bold;
  }

  #Menu-action-4 {
    transform: rotate(90deg) translate(6px, -4px);
  }

  #Menu-action-4-label {
    transform: translate(-30px, -20px);
    font-weight: bold;
  }

  #Menu-action-5 {
    transform: rotate(90deg) translate(22px, 20px);
  }

  #Menu-action-5-label {
    transform: translate(26px, 0px);
    font-weight: bold;
  }

  #Menu-action-6 {
    transform: rotate(90deg) translate(46px, 54px);
  }

  #Menu-action-6-label {
    transform: translate(26px, 0px);
    font-weight: bold;
  }

  #Menu-action-7 {
    transform: rotate(90deg) translate(84px, 94px);
  }

  #Menu-action-7-label {
    transform: translate(26px, 0px);
    font-weight: bold;
  }

  .MuiSpeedDialAction-staticTooltipLabel {
    background-color: unset !important;
    box-shadow: none !important;
    font-size: 13px !important;
  }
}

/* ancho de pantalla de mas de 960px (desktop-notebook)*/
@media only screen and (min-width: 960px){
  #addressShown:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .card-device-detail:hover {
    background-color:rgb(95, 133, 202);
    cursor: pointer !important;
  }
  
  #mui-component-select-category {
    display: flex !important;
    align-items: center !important;
    padding: 2% !important;
  }
  #mui-component-select-name {
    display: flex;
    align-items: center;
    padding: 2%;
  }
  .MuiBadge-anchorOriginTopRightRectangle {
    top: 3px !important;
    right: 5px !important;
    z-index: 1050 !important;
  }
   .MuiListItem-secondaryAction {
    padding-right: 42px !important;
  }
  .MuiListItemSecondaryAction-root {
    right: 5px !important;
  }
  .title-section {
    color: #7b94a2;
    margin-top: 5%;
  }
  .title-section > h2 {
    border: 10px;
    display: inline-grid;
    padding: 3px;
    border-radius: 10px;
    margin-top: 0;
  }
  .MuiDrawer-paperAnchorRight {
    background-image: linear-gradient(25deg, #77F9D3 0%, #5CD2F8 50%, #5A79FF 100%);
    border-radius: 20px 0 0 20px;
    height: 98% !important;
    top: 4px !important;
  }
  .MuiAppBar-colorPrimary {
    background-image: linear-gradient(25deg, #77F9D3 0%, #5CD2F8 50%, #5A79FF 100%);
  }
  .MuiFab-root {
    width: 44px !important;
    height: 44px !important;
    margin: 0px 2px 15px 2px !important;
  }
  .MuiFab-extended {
    min-width: 110px !important;
  }
  .mapboxgl-map {
    font: 12px/18px Helvetica Neue,Arial,Helvetica,sans-serif !important;
  }
  .MuiToolbar-regular {
    min-height: 50px !important;
  }

  [aria-describedby="Menu-action-0-label"] {
    transform: translate(0px, 0px);
    font-weight: bold;
  }

  [aria-describedby="Menu-action-1-label"] {
    transform: translate(40px, 0px);
    font-weight: bold;
  }

  [aria-describedby="Menu-action-2-label"] {
    transform: translate(60px, 0px);
    font-weight: bold;
  }

  [aria-describedby="Menu-action-3-label"] {
    transform: translate(70px, 0px);
    font-weight: bold;
  }

  [aria-describedby="Menu-action-4-label"] {
    transform: translate(70px, 0px);
    font-weight: bold;
  }

  [aria-describedby="Menu-action-5-label"] {
    transform: translate(60px, 0px);
    font-weight: bold;
  }

  [aria-describedby="Menu-action-6-label"] {
    transform: translate(40px, 0px);
    font-weight: bold;
  }

  [aria-describedby="Menu-action-7-label"] {
    transform: translate(0px, 0px);
    font-weight: bold;
  }
  .MuiTypography-body1 {
    font-size: 12px !important;
  }

}

/* ancho de pantalla de menos de 600px* (mobile)*/
@media only screen and (max-width: 600px) {
  .mapboxgl-popup-content {
    position: sticky !important;
  }
  #addressdevices {
    max-width: 300px !important;
  }
  #mui-component-notifi-buttons{
    display: flex !important;
    align-items: center !important;
  }
  #mui-component-select-category {
    display: flex !important;
    align-items: center !important;
    padding: 2% !important;
  }
  #mui-component-select-name {
    display: flex;
    align-items: center;
    padding: 2%;
  }
  .MuiDialog-paper {
    margin: 1px !important;
  }
  .MuiBadge-anchorOriginTopRightRectangle {
    top: 20px !important;
    right: 15px !important;
    font-size: 15px !important;
  }

  .close-config-modal {
    margin-left: -30px !important;
  }
  /* .MuiDialog-paperScrollPaper {
    display: inline-table !important;
  } */
  .MuiDialog-paper {
    overflow-y: hidden;
  }

  .MuiTableCell-root {
    padding: 8px 5px !important;
    line-height: 1 !important;
  }
  .MuiToolbar-regular {
    min-height: 35px !important;
  }
  .MuiAppBar-colorPrimary {
    background-image: linear-gradient(25deg, #77F9D3 0%, #5CD2F8 50%, #5A79FF 100%);
  }
  .mapboxgl-popup-close-button {
    top: 3% !important;
    right: 3% !important;
    padding: 0;
    border-radius: 0px 19px 0px 13px !important;
    border-top: 1px !important;
    border-left: 1px !important;
    border-right: none !important;
    border-bottom: none !important;
    height: 29px;
    width: 30px;
    box-shadow: 0 0 3px 0 rgba(102, 97, 102, 0.8) !important;
    font-size: 25px;
    background-color: transparent !important;
  }

  .mapboxgl-popup-content {
    top: 42% !important;
  }

  .MuiListItemAvatar-root {
    min-width: 25px !important;
  }

  .MuiIconButton-root {
    padding: 3px !important;
  }

  .MuiListItemSecondaryAction-root {
    right: 1px !important;
  }

  .MuiListItem-secondaryAction {
    padding-right: 25px !important;
  }

  .MuiListItemText-root {
    max-width: 140px;
    margin: 2px;
  }

  .MuiTypography-body1 {
    padding-right: 10px !important;
  }

  .MuiTypography-displayBlock {
    width: 100%;
    display: inline-block !important;
  }
  .MuiDrawer-paperAnchorRight {
    background-image: linear-gradient(25deg, #77F9D3 0%, #5CD2F8 50%, #5A79FF 100%);
    border-radius: 20px 0 0 20px;
    height: 98% !important;
    top: 4px !important;
  }
  .fa-chevron-right {
    display: flex;
    position: absolute;
    top: 80%;
    left: 90%;
    font-size: 25px;
    color: #a6a6f1;
  }
  .MuiCardHeader-subheader {
    font-size: 10px !important;
  }
  .title-section {
    width: 100% !important;
    text-align: center !important;
    padding: 2% !important;
    color: #7b94a2;
  }
  .popup-map-div {
    color: white;
  }

}

@media only screen and (max-width: 600px) {

}


@keyframes pulse-circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.8) translateX(-1px);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
