html, body, #root {
  height: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}

button {
  cursor: pointer !important;
}

.popup-map-div {
  font-size: 0.9em;
  color: black;
}

.popup-map-div-mobile {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  color: white;
  font-size: 13px;
}

.footer-sp {
  display: flex;
  justify-content: center;
}

.mapboxgl-popup-close-button {
  top: 93% !important;
  right: -2% !important;
  padding: 7px;
  border-radius: 6px;
  font-size: 20px;
}

.button-black {
  width: 75%;
  border-radius: 6px;
  background-color: #1d193e;
  text-transform: uppercase;
  color: white;
  margin-bottom: 5px;
  padding: 7px;
  font-family: system-ui;
  font-size: 13px;
  border: solid 1px #333;
}

.button-black-mobile {
  width: 75%;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: transparent;
  border-color: white;
  padding: 6px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border: solid 1px;
}

.icon-fa {
  font-size: 18px;
  color: #2b2ba9;
  display: flex !important;
  justify-content: center;
}

.head-list {
  text-align: left;
  list-style-type: none;
  padding-left: 33px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.head-list > li > p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.body-list {
  text-align: left;
  padding-left: 5px;
  list-style-type: none;
}

.popup-map-header {
  font-size: 0.8rem;
}

.popup-map-header > p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.vehicule-type {
  font-size: 25px;
  color: #716a77;
  left: 75%;
  position: absolute;
  top: 55%;
}

.popup-map-div > a {
  text-decoration: none;
  color: black;
  background-color: white !important;
}

.mapboxgl-popup {
  min-width: 280px !important;
  max-width: 350px !important;
  top: -15px !important;
  z-index: 2000 !important;
}

.mapboxgl-popup-content {
  background-color: white !important;
  border-radius: 60px !important;
  padding: 8px !important;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
  -moz-box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
  box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
}

.devicesearch-pclass {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
  -moz-box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
  box-shadow: 0px 0px 20px 1px rgba(102, 97, 102, 0.8) !important;
}

.MuiButton-containedPrimary {
  background-image: linear-gradient(25deg, #2dc6d4 0%, #1c2939 100%);
}

.MuiFab-primary {
  background-image: linear-gradient(25deg, #2dc6d4 0%, #1c2939 100%);
}

.status-online {
  color: green;
}

.status-offline {
  color: red;
}

.status-unknown {
  color: orange;
}

.status-inactive {
  color: grey;
  margin: 0;
}

.status-inactive-mobile {
  color: white;
  margin: 0 !important;
}

.display-flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.btn {
  border-radius: 8px;
  background-color: blue;
  padding: 8px;
}

.mapboxgl-popup-tip {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  right: 0;
  bottom: 25px;
}

.mapboxgl-canvas  {
  width: 100% !important;
  height: 100% !important;
}

.display-none {
  display: none;
}

.device-list {
  overflow-y: scroll;
  height: 300px;
}
.device-list::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.device-icon-online {
  padding-right: 12px;
  animation: pulse-circle 1.5s infinite;
}

.device-icon-offline {
  padding-right: 12px;
  animation: pulse-circle 8s infinite;
}

.device-icon-unknown {
  padding-right: 12px;
  animation: pulse-circle 3s infinite;
}

@media only screen and (max-width: 960px) {

  .mapboxgl-popup {
    max-width: 100% !important;
    display: contents !important;
  }

  .mapboxgl-popup-content {
    display: flex !important;
    top: 48% !important;
    z-index: 2 !important;
    background-image: linear-gradient(25deg, #2dc6d4 0%, #1c2939 100%) !important;
  }

  .mapboxgl-popup-close-button {
    font-size: 20px !important;
    top: 0% !important;
    right: 50% !important;
    padding: 0 !important;
    color: #5674a9 !important;
    /*display: none !important;*/
  }

  .MuiSpeedDial-root {
    z-index: 1 !important;
  }

  th tr td {
    padding: 0;
    margin: 0;
  }

  .icon-fa {
    color: white;
  }

  #Menu-actions {
    transform: rotate(270deg) translateX(-100px);
    padding-bottom: 0px;
  }

  #Menu-action-0 {
    transform: rotate(90deg) translate(-70px, 92px);
  }

  #Menu-action-0-label {
    transform: translate(-26px, 0px);
    font-weight: bold;
  }

  #Menu-action-1 {
    transform: rotate(90deg) translate(-34px, 50px);
  }

  #Menu-action-1-label {
    transform: translate(-26px, 0px);
    font-weight: bold;
  }

  #Menu-action-2 {
    transform: rotate(90deg) translate(-10px, 14px);
  }

  #Menu-action-2-label {
    transform: translate(-26px, 0px);
    font-weight: bold;
  }

  #Menu-action-3 {
    transform: rotate(90deg);
  }

  #Menu-action-3-label {
    transform: translate(-24px, -20px);
    font-weight: bold;
  }

  #Menu-action-4 {
    transform: rotate(90deg) translate(10px, 14px);
  }

  #Menu-action-4-label {
    transform: translate(26px, 0px);
    font-weight: bold;
  }

  #Menu-action-5 {
    transform: rotate(90deg) translate(34px, 50px);
  }

  #Menu-action-5-label {
    transform: translate(26px, 0px);
    font-weight: bold;
  }

  #Menu-action-6 {
    transform: rotate(90deg) translate(70px, 92px);
  }

  #Menu-action-6-label {
    transform: translate(26px, 0px);
    font-weight: bold;
  }

  .MuiSpeedDialAction-staticTooltipLabel {
    background-color: unset !important;
    box-shadow: none !important;
    font-size: 12px !important;
  }
}

/* ancho de pantalla de mas de 960px (desktop-notebook)*/
@media only screen and (min-width: 960px){
  .MuiListItem-secondaryAction {
    padding-right: 42px !important;
  }
  .MuiListItemSecondaryAction-root {
    right: 5px !important;
  }
  .title-section {
    color: #7b94a2;
  }
  .title-section > h2 {
    border: 10px;
    display: inline-grid;
    padding: 3px;
    border-radius: 10px;
    margin-top: 0;
  }
  .MuiDrawer-paperAnchorRight {
    background-image: linear-gradient(25deg, rgb(45, 198, 212) 0%, rgb(28, 41, 57) 100%);
    border-radius: 20px 0 0 20px;
    height: 98% !important;
    top: 4px !important;
  }
  .MuiAppBar-colorPrimary {
    background-image: linear-gradient(25deg, rgb(45, 198, 212) 0%, rgb(28, 41, 57) 100%);
  }
  .MuiFab-root {
    width: 39px !important;
    height: 39px !important;
    margin: 0px 2px 15px 2px !important;
  }
  .MuiFab-extended {
    min-width: 110px !important;
  }
}

/* ancho de pantalla de menos de 600px* (mobile)*/
@media only screen and (max-width: 600px) {
  .mapboxgl-popup-content {
    top: 36% !important;
  }

  .MuiListItemAvatar-root {
    min-width: 25px !important;
  }

  .MuiIconButton-root {
    padding: 3px !important;
  }

  .MuiListItemSecondaryAction-root {
    right: 5px !important;
  }

  .MuiListItem-secondaryAction {
    padding-right: 25px !important;
  }

  .MuiListItemText-root {
    max-width: 150px;
    margin: 2px;
  }

  .MuiTypography-body1 {
    padding-right: 10px !important;
  }

  .MuiTypography-displayBlock {
    width: 100%;
    display: inline-block !important;
  }
  .MuiDrawer-paperAnchorRight {
    background-image: linear-gradient(25deg, rgb(45, 198, 212) 0%, rgb(28, 41, 57) 100%);
    border-radius: 20px 0 0 20px;
    height: 98% !important;
    top: 4px !important;
  }
  .fa-chevron-right {
    display: flex;
    position: absolute;
    top: 80%;
    left: 90%;
    font-size: 25px;
    color: #a6a6f1;
  }
  .MuiCardHeader-subheader {
    font-size: 10px !important;
  }
  .title-section {
    width: 100% !important;
    text-align: center !important;
    padding: 2% !important;
    color: #7b94a2;
  }
  .popup-map-div {
    color: white;
  }

}

@media only screen and (max-width: 600px) {

}


@keyframes pulse-circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.8) translateX(-1px);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
